*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins';
    background: #00A3E0;
}


header{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.navbarsecondaire{
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbarsecondaire a{
    color: black;
}

.navbarsecondaire a:hover{
    text-decoration: underline;
}

.navbarsecondaire .logo-uam{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 25px;
}

.navbarsecondaire .logo-uam img{
    height: 30px;
}

.navbarsecondaire .navbar-secondaire ul{
    display: flex;
    font-size: 15px;
}

.navbarsecondaire .menu-hamburger{
    display: none;
    width: 20px;
}

.navbarsecondaire .navbar-secondaire ul li{
    margin: 0 15px;
}



.navbarprincipal{
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
}

.navbarprincipal a{
    color: black;
}

.navbarprincipal .logo-sta:hover{
    text-decoration: underline;
}

.navbarprincipal .logo-sta{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 25px;
}

.navbarprincipal .logo-sta img{
    height: 50px;
}

.navbarprincipal .navbar-principal ul {
    display: flex;
    font-size: 25px;
}

.navbarprincipal .navbar-principal ul li{
    margin: 0 20px;
}

.navbarprincipal .navbar-principal ul li a{
    position: relative;
}

.navbarprincipal .navbar-principal ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 4px;
    background: #993921; /*Couleur de l'uam */
    transition: width 0.4s ease;
}

.navbarprincipal .navbar-principal ul li a:hover::after{
    width: 100%;
}

.navbarprincipal .navbar-principal ul li a.active::after{
    width: 100%;
    background: #00A3E0; /*Couleur de l'uam */
} 



@media screen and (max-width: 768px) {
    .navbar-secondaire, .navbar-principal{
        display: none;
    }    
}